#gamepage {
	background-size: cover;
	transition: background 1s ease-in-out;
}

.game-frame {
	position: fixed;
	z-index: 999;
	left: 0;
	width: 100%;
	bottom: 0;
	padding: 1rem;
	pointer-events: none;
	top: 94px;
	display: grid;
	align-items: start;
	justify-items: end;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	grid-template-areas: '... header';
}

.game-header {
	position: relative;
	z-index: 100;
	display: flex;
	align-items: center;
	grid-area: header;
}

.game-header i {
	font-size: 25px;
	color: white;
	cursor: pointer;
	pointer-events: auto;
}

.game-nav {
	position: absolute;
	background: none;
	width: 3rem;
	height: 3rem;
	z-index: 1000;
	border: 0;
	padding: 0;
	margin: 0;
	pointer-events: none;
	transition: transform 0.8s, opacity 0.8s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.nav--next {
	bottom: 1rem;
	right: 1rem;
}

.nav--prev {
	top: 1rem;
	left: 1rem;
}

.slideshow--previewopen .nav {
	opacity: 0;
	transition-duration: 0.4s;
}

.slideshow--previewopen .nav--next {
	transform: translate3d(100%, 100%, 0);
}

.slideshow--previewopen .nav--prev {
	transform: translate3d(-100%, -100%, 0);
}

.slideshow {
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
	height: calc(100vh - 94px);
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 0.5%;
	grid-template-rows: 100%;
	grid-template-areas: '... slide ...';
}

.slide {
	width: 100%;
	display: flex;
	pointer-events: none;
	cursor: pointer;
	position: relative;
	height: 100%;
	grid-area: slide;
	color: white;
}

.slideshow--previewopen .slide {
	cursor: default;
}

.slide--current {
	pointer-events: auto;
}

.slide__img-wrap {
	width: 100%;
	overflow: hidden;
	z-index: 100;
	height: 80%;
	top: 10%;
	position: absolute;
}

.slideshow__deco {
	grid-area: slide;
	background: var(--color-deco);
	width: 100%;
	height: 80%;
	align-self: center;
	position: relative;
	margin: -40px 0 0 0;
	right: -20px;
}

.slide__img {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: 50% 0;
	position: absolute;
	pointer-events: none;
	transform: scale3d(1.01, 1.01, 1);
}

.slide__img-wrap,
.slide__title-wrap,
.slide__side {
	opacity: 0;
	pointer-events: none;
}

.slide--current .slide__img-wrap {
	opacity: 1;
	pointer-events: auto;
}

.slide--visible .slide__img-wrap {
	pointer-events: auto;
}

.slide__title-wrap {
	justify-self: flex-end;
	width: 100%;
	position: relative;
	z-index: 1000;
}

.slide__number {
	display: block;
	font-size: 2rem;
	font-weight: bold;
}

.slide__number::before {
	content: "\2014";
	display: inline-block;
	margin: 0 1rem 0 0;
}

.slide__title,
.slide__side {
	display: none;
	color: white;
}

.game-content {
	position: fixed;
	top: 94px;
	left: 0;
	width: 100%;
	height: calc(100% - 10rem);
	pointer-events: none;
	z-index: 100;
}

.content__item {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 80%;
	padding: 5vh 5vw;
	overflow: auto;
}

.content__item--current,
.content__item--current~.content__close {
	pointer-events: auto;
}

.content__close {
	position: absolute;
	top: 1rem;
	left: 1rem;
	background: none;
	color: currentColor;
	border: 0;
	margin: 0;
	padding: 0;
	color: white;
	cursor: pointer;
	font-size: 30px;
}

.content__close:focus {
	outline: none;
}

.content__number {
	font-weight: bold;
	color: white;
}

.content__number::before {
	content: "\2014";
	display: inline-block;
	margin: 0 1rem 0 0;
}

.content__title {
	margin: 0.5rem 0;
	font-size: 2rem;
	color: white;
}

.content__subtitle {
	margin: 0 0 0.5rem;
	font-size: 1rem;
	font-weight: normal;
	color: white;
}

.content__text {
	font-size: 0.85rem;
	color: white;
}

.content__title,
.content__subtitle,
.content__number,
.content__text,
.content__close {
	opacity: 0;
}

@media screen and (min-width: 53em) {
	.game-header {
		padding: 0.5rem 0.5rem;
		display: block;
	}

	.slideshow {
		grid-template-columns: 27% 27% 27%;
		grid-column-gap: 9.5%;
	}

	.slide {
		padding: 10vh 0 7vh;
		flex-direction: column;
		justify-content: space-between;
		color: white;
	}

	.slide__side {
		margin: 0 0 0 -1.85rem;
	}

	.slide__title-wrap {
		margin: 0 0 0 -1.85rem;
	}

	.slide__title,
	.slide__side {
		display: block;
	}

	.slide__title {
		font-size: 3.25rem;
		margin: 0 0 0.25rem;
	}

	.slide__side {
		color: var(--color-side);
		position: relative;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		z-index: 1000;
	}

	.game-content {
		top: 94px;
		height: 100%;
	}

	.content__item {
		padding: calc(5vh + 5rem) 0 7vh;
		width: 51.5%;
		right: 7.5%;
		overflow: visible;
	}

	.content__close {
		left: 41%;
		top: calc(10vh);
	}

	.content__number {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 2rem;
	}

	.content__title {
		font-size: 7vw;
	}

	.content__subtitle {
		font-size: 1.15rem;
		margin-bottom: 7.5vh;
	}

	.content__text {
		font-size: 0.95rem;
		max-width: 600px;
		text-align: justify;
	}
}