.carousel-item {
	display: inline-block;
	width: 400px;
	height: 250px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transition: transform 1s ease-in-out, opacity 1s;
}

@media (max-width: 992px) {
	.carousel-item {
		width: 320px;
		height: 200px;
	}
}

.carousel-container {
	width: 100%;
	height: 500px;
	perspective: 800px;
	transform-style: preserve-3d;
}

.carousel-indicator {
	background-color: gray;
	display: inline-block;
	height: 5px;
	margin: 0 5px;
	width: 50px;
	border-radius: 5px;
	transition: background-color 0.5s ease-in-out;
}

.carousel-indicator.active {
	background-color: white;
}

.movie-item {
	color: #fbe094;
	margin-top: 200px;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	position: relative;
	background-image: var(--bg-img);
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

.movie-text {
	position: absolute;
	right: 50px;
	top: 20px;
	text-align: right;
}

.movie-text p {
	margin-bottom: 0;
	-webkit-transition: opacity 2s, -webkit-transform 2s;
	transition: opacity 2s, transform 2s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
}

.movie-text p:nth-child(1) {
	font-size: 35px;
}

.movie-text p:nth-child(2) {
	font-size: 25px;
}

.movie-text-hidden p {
	opacity: 0;
}

.movie-info {
	color: #fbe094;
	bottom: 0px;
	left: 50px;
	position: absolute;
	line-height: 1;
	display: flex;
	margin: 0;
	flex-direction: column;
	height: 18%;
}

.movie-info p {
	margin-bottom: 10px;
	display: inline-block;
	position: relative;
	padding: 0 10px;
	transition: opacity 2s, transform 2s;
	transition-delay: 0.7s;
	letter-spacing: 10px;
}

.movie-headline {
	display: flex;
	flex-direction: row;
	align-items: end;
}

.movie-info .movie-name {
	font-size: 25px;
	text-transform: uppercase;
}

.movie-info .movie-name2 {
	font-size: 18px;
}

.movie-info .movie-director {
	font-size: 15px;
	letter-spacing: 5px;
}

.movie-info--hidden p {
	opacity: 0;
}

.canvas-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: black;
}

.movie-extra {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.movie-extra i {
	margin-right: 20px;
	font-size: 20px;
	color: lightgrey;
	cursor: pointer;
}

.movie-extra .movie-bgm {
	display: none;
}

.movie-extra .movie-bgm.active {
	display: inline;
}