.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 600px;
}

.content {
	position: relative;
	display: grid;
}

.content--fixed {
	background-color: #f0f0f0;
	background-size: cover;
	position: fixed;
	left: 0;
	top:94px;
	height: calc(100vh - 94px);
	width: 100%;
	z-index: 100;
	padding: 1.5em;
	grid-template-columns: 50% 50%; 
	grid-template-rows: 4em auto 4em;
	grid-template-areas:	"header ..."
							"... decotitle"
							"demos decotitle";
}

.content--fixed i {
	display: inline-block;
	position: relative;
	font-size: 0.85em;
	margin: 0 0.25em 0 0;
	padding: 1em;
	font-size: 20px;
	cursor: pointer;
}

.content--fixed i:hover {
	transform: scale(1.1);
}

.header {
	grid-area: header;
	display: flex;
	align-items: center;
}

.controller {
	grid-area: demos;
}

.deco {
	grid-area: decotitle;
	writing-mode: vertical-lr;
	text-align: right;
	align-self: end;
	justify-self: end;
}

.book-content {
	margin: auto;
	max-width: 1200px;
	min-height: 400px;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-flex: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	padding: 3em 0;
	z-index: 999;
	pointer-events: none;
}

.fragment-wrap {
	width: 28vw;
	height: 550px;
	max-width: 800px;
	max-height: 1000px;
	min-height: 400px;
	background-size: cover;
	position: relative;
	margin: 0 30vw 0 0;
	opacity: 0;
	animation-name: fadeInRight;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.fragment-wrap--right {
	margin: 0 0 0 40vw;
}

.fragment,
.fragment__piece {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.fragment {
	transition: transform 0.2s ease-out;
}

.fragment-wrap,
.fragment__piece {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

.book-info {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	position: absolute;
	margin: 0;
	left: auto;
	right: 50%;
	bottom: 10%;
	text-align: right;
}

.book-title {
	font-size: 5vw;
	animation-delay: 1s;
	font-weight: bold;
}

.book-author {
	font-size: 2vw;
	animation-delay: 1s;
}

.book-text {
	overflow: hidden;
	font-size: 1.4em;
	margin-bottom: 10%;
	animation-delay: 0.5s;
}

.book-text,
.book-author,
.book-title {
	opacity: 0;
	animation-name: fadeInUp;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.book-text::before,
.book-text::after {
	font-family: Arial, serif;
	font-size: 2.5em;
	vertical-align: middle;
	line-height: 0
}

.book-text::before {
	content: open-quote;
    margin-right: 3px
}

.book-text::after {
	content: close-quote;
    margin-left: 3px
}
